/* Move main down since top nav is fixed  */
main {
	margin-top: 3.25rem;
}

header nav {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

#what-we-do {
	padding-bottom: 0.5rem;
}

/* Hero header banner images */
.hero.has-image {
	/* Photo by freestocks.org on Unsplash */
	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0)
		),
		url("../images/makeup-palette.jpg");
	background-size: cover;
	background-position: center;
}

#trending .hero.has-image {
	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0)
		),
		url("../images/newspaper.jpg");
}

#ingredients .hero.has-image {
	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0)
		),
		url("../images/scientist.jpg");
}

#reporting .hero.has-image {
	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0)
		),
		url("../images/phone-in-hands.jpg");
}

#resources .hero.has-image {
	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0)
		),
		url("../images/person-using-laptop.jpg");
}

#contact .hero.has-image {
	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0)
		),
		url("../images/woman-holding-tablet.jpg");
}

.notification {
	padding: 1.25rem 1.5rem 2rem;
}

/* Color overrides */
:root {
	--color-danger: #b0436b;
	--color-success: #c17695;
	--color-primary: #696e8d;
	--color-info: #7a557b;
}

.notification.is-primary {
	background-color: var(--color-primary);
}
.button.is-primary.is-inverted {
	color: var(--color-primary);
}

.notification.is-danger {
	background-color: var(--color-danger);
}
.button.is-danger.is-inverted {
	color: var(--color-danger);
}

.notification.is-success {
	background-color: var(--color-success);
}
.button.is-success.is-inverted {
	color: var(--color-success);
}

.notification.is-info {
	background-color: var(--color-info);
}
.button.is-info.is-inverted {
	color: var(--color-info);
}

.card {
	margin-bottom: 2em;
}
